*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.Single-page_website{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.2rem;

}
.header_box{
    background-color: black;
    border: 1px solid black;
    height:2rem;
    color:white;
    text-align: center;
    padding-bottom:3rem;
    padding-top: 1rem;
}

.CV-container{
    display: grid;
    grid-template-columns: 50% 50%;
   
}
.CV-container h1{
     text-align: center;
}
.right_half_main{
    display: flex;
    flex-direction: column;
   }
.summary{
    width:70%;
}
.right_half{
    margin-top:0.5rem;
}

.right_half_main img{
    width:20%;
     margin-left: 7vw;
}
.split-skills{
      display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
}
ul{
 list-style: none;
}
a{
    text-decoration: none;
}
.websites{
  margin-top:0.5rem;
  display: flex;
  flex-direction: column;  
}
.project{
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}
.project li{
   margin-top: 0.5rem;
}
.left_half .experience{
 
    margin-top: 0.5rem;
}
.education h2{
    margin-top: 2rem;
     margin-bottom: 0.5rem;
}
.eee{
      display: grid;
    grid-template-columns: 70% 30%;
    margin-top:1rem;
    gap:5vw;
}
.eee_describe1{
    display: flex;
    flex-direction: column;
   gap:0.5rem;
}

.eee_describe2{
    display: flex;
    flex-direction: column;
   gap:0.5rem;
   margin-bottom: 0.5rem;
}
.project_heading{
    display: flex;
    flex-direction: row;
    gap:13vw;
    justify-content: space-between;
}
