*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Single-page_website{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.2rem;

}
.header_box{
    background-color: black;
    height:2rem;
    
}
.CV-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.right_half_main{
    display: flex;
    flex-direction: column;
   }
.summary{
    width:70%;
}
.right_half{
    margin-top:0.5rem;
}
.right_half .profile{
   margin-left: 10vw;
   margin-bottom: 1rem;
}
.right_half_main img{
    width:20%;
     margin-left: 7vw;

}
.split-skills{
      display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
}
ul{
 list-style: none;
}
a{
    text-decoration: none;
}
.websites{
  margin-top:0.5rem;
  display: flex;
  flex-direction: column;  
}