*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.Single-page_website{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.2rem;

}
.header_box{
    background-color: black;
    border: 1px solid black;
    height:2rem;
    color:white;
    text-align: center;
}

.CV-container{
    display: grid;
    grid-template-columns: 50% 50%;
   font-size: 1.06vw;
}
.CV-container h1{
     text-align: center;
}
.right_half_main{
    display: flex;
    flex-direction: column;
   }
.summary{
    width:70%;
}
.right_half{
    margin-top:0.5rem;
}

.right_half_main img{
    width:15vw;
    height:25vh;
     margin-left: 7vw;
}
.split-skills{
      display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
}
ul{
 list-style: none;
}
a{
    text-decoration: none;
}
.websites{
  margin-top:0.5rem;
  display: flex;
  flex-direction: column;  
}
.project{
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}
.project li{
   margin-top: 0.5rem;
}
.left_half .experience{
 
    margin-top: 0.5rem;
}
.education h2{
    margin-top: 2rem;
     margin-bottom: 0.5rem;
}
.eee{
      display: grid;
    grid-template-columns: 70% 30%;
    margin-top:1rem;
    gap:5vw;
}
.eee_describe1{
    display: flex;
    flex-direction: column;
   gap:0.5rem;
}

.eee_describe2{
    display: flex;
    flex-direction: column;
   gap:0.5rem;
   margin-bottom: 0.5rem;
}
.project_heading{
    display: flex;
    flex-direction: row;
    gap:13vw;
    justify-content: space-between;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*mobile responsive*/
@media only screen and (max-width: 768px) {
.CV-container{

   font-size: 1.5vw;
}

.right_half_main img{
    width:25vw;
    height:25vh;
     margin-left: 7vw;
}
}

@media only screen and (max-width: 600px) {
.CV-container{
    display: grid;
    grid-template-columns: 100%;
   font-size: 2.2vw;
}

.right_half_main img{
    width:5vw;
    height:5vh;
     margin-left: 7vw;
}
.header_box{
    height:1rem;
}
.header_box  h1{
font-size:15px;
}
.education h2{
    margin-top: 0.3rem;
     margin-bottom: 0.5rem;
}
.project{
    display: flex;
    flex-direction: column;
    margin-top:0.3rem;
}
.right_half{
    margin-top:0rem;
}
.websites{
  margin-top:0rem;
}
}